<div class="navbar-fixed">
	<nav class="top_nav">
		<div class="nav-wrapper">
		  <form method="get", action= "/home/search">
	        <div class="input-field ">
	          <input id="query" type="search" name="query" placeholder="Search for other users...">
	          <label for="search"><i class="material-icons searchicon">search</i></label>
	          <i class="material-icons searchicon">close</i>
	        </div>
	      </form>
		</div>
	</nav>
</div>