<% content_for :title, "Notifications" %>
<% content_for :active_class2, "active" %>

<p id="notice"><%= notice %></p>

<% @notifications.each do |notification| %>
  <div class="row suggestion">
    <div class="col s2">
      <%= link_to image_tag(User.find(notification.notifier_id).profile_picture, :class => "circle responsive-image sugg-user"), user_path(notification.notifier_id) %>
      <br>
      <br>
    </div>
    <div "col s8">
      <div class= "content hideContent">
        <p class="suggestionInfo">
          <strong><%= notification.description %></strong>
        </p>  
      </div>
    </div>
    <div class="col s2"></div>
    <hr>
  </div>
<% end %>

