<div class="container homeContainer">
	<!-- Page Content goes here -->
	<br>
	<br>
	<br>
	<div class="col s3"></div>

 	<div class="col s6 login">
 		<%= image_tag("logo.png", :class => "responsive-img logo")%>
		<br><br>
		<%= image_tag("motto.png", :class => "responsive-img")%>

		<br><br><br><br>
		<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false">FACEBOOK LOGIN BUTTON</div>
  	</div>

  	<div class="col s3"></div>
</div>

