<h1>tel</h1>

<nav class="bottom_nav">
	<a class="nav-item" href="#">
		<span class="item-label">Suggestion Feed</span>
	</a>
	<a class="nav-item" href="#">
		<span class="item-label">Favorites</span>
	</a>
	<a class="nav-item" href="#">
		<span class="item-label">Tel</span>
	</a>
	<a class="nav-item" href="#">
		<span class="item-label">Notification</span>
	</a>
	<a class="nav-item" href="#">
		<span class="item-label">Profile</span>
	</a>
</nav>