@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import "materialize";

.bottom_nav {
	bottom: 0;
	display: table;
	width: 100%;
	height: 50px;
	padding: 0;
	table-layout: fixed;
	boarder-top:1px solid #ddd;
	border-bottom: 0;
	background-color: #FFFFFF;
	line-height: 20px;
}

.bottom_nav .nav-item {
	display: table-cell;
	width: 1%;
	height: 40px;
	color: #929292;
	text-align: center;
	vertical-align: middle;
}

.bottom_nav .nav-item_tel {
	display: table-cell;
	width: 1%;
	height: 50px;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	background-color: #955aa4;
}

.bottom_nav .nav-item_tel.active, .bottom_nav .nav-item_tel:active {
	display: table-cell;
	width: 1%;
	height: 50px;
	color: #955aa4;
	text-align: center;
	vertical-align: middle;
	background-color: #c6a6ce;
	font-weight: bold;
}

.bottom_nav .nav-item.active, .bottom_nav .nav-item:active{
	color: #955aa4;
	font-weight: bold;
}

.bottom_nav .nav-item .icon {
	top: 3px;
	width: 30px;
	height: 30px;
	padding-top: 0;
	padding-bottom: 0;	
}

.bottom_nav .nav-item_tel .icon {
	top: 3px;
	width: 40px;
	height: 40px;
	padding-top: 5;
	padding-bottom: 0;	
}

.bottom_nav .nav-item .item-label {
	display: block;
}

.bottom_nav .nav-item_tel .item-label {
	display: block;
}
=======
body {
	background-color: #955aa4;
}

.login {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Aleo-LightItalic;
	color: White;
}

@font-face {
    font-family: Aleo-Bold;
    src: url(../fonts/Aleo-Bold.otf);
}

@font-face {
    font-family: Aleo-Regular;
    src: url(../fonts/Aleo-Regular.otf);
}

@font-face {
    font-family: Aleo-LightItalic;
    src: url(../fonts/Aleo-LightItalic.otf);
}

@font-face {
    font-family: Aleo-BoldItalic;
    src: url(../fonts/Aleo-BoldItalic.otf);
}

@font-face {
    font-family: Aleo-Italic;
    src: url(../fonts/Aleo-Italic.otf);
}

@font-face {
    font-family: Aleo-Light;
    src: url(../fonts/Aleo-Light.otf);
}
